<div class="container">
  <mat-card>
    <div>
      <div class="div-meta">
        <label for="name">Ticker: </label>
        <input id="name" type="text" [formControl]="ticker" />
        <button mat-raised-button color="primary" (click)="onGetMeta()">
          Get meta-data
        </button>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Expiry Date</mat-label>
            <mat-select [(value)]="selectedExpiry">
              <mat-option
                *ngFor="let expirydate of metaData.expirationDates"
                [value]="expirydate"
              >
                {{ expirydate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div>
      {{ debugMessage | json }}
    </div>
  </mat-card>
  <mat-card>
    <div class="div-result">
      <div class="div-result-header">
        <div>
          {{ metaData.ticker | uppercase }} ${{
            metaData.price | number: "1.2-2"
          }}
          expiry : {{ daysToExpiry }}
        </div>
      </div>
      <div class="div-result-body">
        <mat-tab-group>
          <mat-tab label="historical price">
            <div class="div-tab-body">
              <app-price-graph
                [priceData]="metaData.historicalPrices"
              ></app-price-graph>
            </div>
          </mat-tab>
          <mat-tab label="put-options">
            <div class="div-tab-body">
              <div class="div-2-column-body">
                <div class="div-column">
                  <app-options-graph
                    [optionsData]="putOptionsData"
                  ></app-options-graph>
                </div>
                <div class="div-column">
                  <app-data-table
                    [optionsData]="putOptionsData"
                    [sortDirection]="1"
                  ></app-data-table>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="call-options">
            <div class="div-tab-body">
              <div class="div-tab-body">
                <div class="div-2-column-body">
                  <div class="div-column">
                    <app-options-graph
                      [optionsData]="callOptionsData"
                    ></app-options-graph>
                  </div>
                  <div class="div-column">
                    <app-data-table
                      [optionsData]="callOptionsData"
                      [sortDirection]="-1"
                    ></app-data-table>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </mat-card>
</div>
