<div class="div-table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="strike">
      <th mat-header-cell *matHeaderCellDef>Strike</th>
      <td mat-cell *matCellDef="let element">{{ element.Strike }}</td>
    </ng-container>

    <ng-container matColumnDef="offset">
      <th mat-header-cell *matHeaderCellDef>Offset(%)</th>
      <td mat-cell *matCellDef="let element">
        {{ element.Offset | number: "1.2-2" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="yield">
      <th mat-header-cell *matHeaderCellDef>Yield(%)</th>
      <td mat-cell *matCellDef="let element">
        {{ element.Percentage | number: "1.2-2" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="lastprice">
      <th mat-header-cell *matHeaderCellDef>Last Price</th>
      <td mat-cell *matCellDef="let element">
        {{ element.LastPrice | number: "1.2-2" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="volume">
      <th mat-header-cell *matHeaderCellDef>Volume</th>
      <td mat-cell *matCellDef="let element">
        {{ element.Volume }}
      </td>
    </ng-container>

    <ng-container matColumnDef="openinterest">
      <th mat-header-cell *matHeaderCellDef>Open Interest</th>
      <td mat-cell *matCellDef="let element">
        {{ element.OpenInterest }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
