<div class="darkMode div-container">
  <mat-toolbar color="primary">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/quick-view">QuickView</button>
      <button mat-menu-item routerLink="/explore">Explore</button>
    </mat-menu>
    <span>Sell-Put Yield Explorer</span>
  </mat-toolbar>
  <div class="div-router-output mat-app-background">
    <router-outlet></router-outlet>
  </div>
</div>
